/* NOTO SANS와 ROBOTO는 GOOGLE CDN에서 제공해 줍니다. 
그러나 상용에서는 자사 서버에서 LIGHT만 받기를 추천합니다 */
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

/* SERVER : Noto Sans Korean - Light */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(./font/NotoSansKR-Light-Hestia.eot),
    url(./font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(./font/NotoSansKR-Light-Hestia.otf) format('opentype');
}
/* SERVER : Noto Sans Korean - reqular */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(./font/NotoSansKR-Regular-Hestia.eot),
    url(./font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(./font/NotoSansKR-Regular-Hestia.otf) format('opentype');
}
/* SERVER : Noto Sans Korean - bold */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(./font/NotoSansKR-Bold-Hestia.eot),
    url(./font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(./font/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
/* SERVER : Nanum Barun Gothic - Light */
@font-face {
  font-family: 'Nanum Barun Gothic Light';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(./font/NanumBarunGothicLight.eot);
  src: url(./font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumBarunGothicLight.woff) format('woff'),
       url(./font/NanumBarunGothicLight.ttf) format('truetype');
}
/* SERVER : Nanum Barun Gothic - Light */
@font-face {
    font-family: 'nanum-square-r';
    src: url('./font/nanumsquarer.eot');
    src: url('./font/nanumsquarer.eot?#iefix') format('embedded-opentype'),
         url('./font/nanumsquarer.woff2') format('woff2'),
         url('./font/nanumsquarer.woff') format('woff'),
         url('./font/nanumsquarer.ttf') format('truetype'),
         url('./font/nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Font Definition*/
.font-1{
    font-family: 'Noto Sans KR','Noto Sans',sans-serif;
}
.font-2{
    font-family: 'Nanum Barun Gothic Light', sans-serif;
}
.font-3{
    font-family: 'Roboto', sans-serif;
}
.font-4{
    font-family: 'nanum-square-r'
}