/* MAIN LAYOUT */
.contentWrap{
    height:100%;
    min-height:100%;
    position: relative;
}
.content{
    height:100%;
    position: relative;
}
/* FOLD */
.fold .gnb,
.fold .lnb{
    top:-60px;
}
.fold .lnb{
    transition:all 0.3s ease-in-out 0s;
}
.fold .gnb{
    transition:all 0.3s ease-in-out 0.2s;
}
/* GNB */
.gnb{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height:60px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    z-index: 2;
    transition:all 0.3s ease-in-out 0s;
}
.gnb.color{
    background:#fff;
}
.gnb .myInfoBtnBox{
    width:30px;
    height:31px;
    position: absolute;
    right:38px;
    top:15px;
}
.gnb .myInfoBtn{
    transition: all 0.23s ease;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    padding: 0px;
}
.gnb .myInfoBtn:hover{
    box-shadow: 0 0 18px rgba(158,202,237,0.85);
}
.gnb .myInfoPopupWrap{
    width: 345px;
    height: 247px;
    position: absolute;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    right: -17px;
    top: 36px;
    opacity: 0;
    display: none;
    transition: opacity 0.23s ease;
}
.gnb .myInfoPopupWrap .layer1{
    box-sizing: border-box;
   height:113px;
    background:#fff;
    position: relative;
}
.gnb .myInfoPopupWrap .layer1 .myPhoto{
    width:48px;
    height:48px;
    left:20px;
    top:35px;
    position: absolute;
}
.gnb .myInfoPopupWrap .layer1 .name{
    color: #26abe1;
    position: absolute;
    top: 41px;
    left: 91px;
    font-size: 19px;
}
.gnb .myInfoPopupWrap .layer1 .email{
    color: #b5b6bc;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    left: 91px;
    top: 68px;
}
.gnb .myInfoPopupWrap .layer2{
    box-sizing: border-box;
   height:68px;
    border-top:solid 1px #fff;
    border-bottom:solid 1px #fff;
    position: relative;
   overflow: visible;
   float:left;
}
.gnb .myInfoPopupWrap .layerTxt{
    color: #6d6d6e;
    font-size: 15px;
    position: absolute;
    left:71px;
    top:26px;
}
.gnb .myInfoPopupWrap .layer2:before{
	content:"";
	position: absolute;
    height:1px;
    left:20px;
    right:20px;
    top:-1px;
    background-color:#b5b6bc;
}
.gnb .myInfoPopupWrap .layer2:after{
    position: absolute;
    content:"";
    height:1px;
    left:20px;
    right:20px;
    bottom:-1px;
    background-color:#b5b6bc;
}
.gnb .myInfoPopupWrap .layer3{
    box-sizing: border-box;
   height:66px;
        background-color:#eaebec;
    position: relative;
}
.gnb .myInfoPopupWrap .layer2,
.gnb .myInfoPopupWrap .layer3{
    background: #fff;
    transition: background 0.23s ease-in-out;
    cursor: pointer;
    width: 100%;
}
.gnb .myInfoPopupWrap .layer2:hover,
.gnb .myInfoPopupWrap .layer3:hover{
    background:#f7f8f8;
}
.gnb .myInfoPopupWrap .layer2:active,
.gnb .myInfoPopupWrap .layer3:active{
    background:#f0f0f2;
}
.gnb .myInfoPopupWrap .icon{
    width:30px;
    height:31px;
    position: absolute;
    left:20px;
    top:18px;
    background: url(../images/icons.png) -0px -242px;
}
.gnb .myInfoPopupWrap .icon.logOut{
    background: url(../images/icons.png) -34px -242px; 
}

/* LNB*/
.lnb{
    height:calc(100% + 100px);
    width:218px;
    box-sizing: border-box;
    position: fixed;
    top:0px;
    padding-top:60px;
    transition:all 0.3s ease-in-out 0.10s;
    background-color: rgba(255,255,255,0.91);
    z-index: 10;
}
.gnbLogo{
    position: absolute;
    left:23px;
    top:17px;
}
.lnb .lnbInfoWrap{
    height:121px;
    background:#00afef;
    position: relative;
}
.lnb .lnbInfoTxt{
    position: absolute;
}
.lnb .genderTxt{
    left:22px;
    top:35px;
    font-size: 12px;
    color:rgba(255,255,255,0.7)
}
.lnb .ageTxt{
    top: 71px;
    left:22px;
    font-size: 12px;
    color:rgba(255,255,255,0.7)
}
.lnb .gender{
    font-size: 15px;
    color:#fff;
    left:91px;
    top:34px;
}
.lnb .age{
    top: 72px;
    font-size: 15px;
    color:#fff;
    left:91px;
}
.lnb .AddDateInfoBtnBox{
    border-bottom: dashed 1px #b5b6bc;
    font-size: 15px;
    position: relative;
    overflow: visible;
}
.lnb .calendarOptionWrap{
    width: 338px;
    position: absolute;
    z-index: 10;
    top: 0px;
    right: -339px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    display: none;
    background: #fff;
    padding-bottom: 32px;
}
.lnb .calendarOptionWrap .triangle{
    width: 12px;
    height: 31px;
    background-image: url(../images/calendarTriangle.png);
    position: absolute;
    top: 7px;
    left: -12px;
}
.lnb .AddDateInfoBtn{
   height:44px;
    line-height: 44px;
    width:100%;
    padding-left:14px;
    cursor: pointer;
        color:#6d6d6e;
    position: relative;
}
.lnb .AddDateInfoBtn:after{
    content: "";
    position: absolute;
    right:0px;
    top:5px;
    width:16px;
    height:16px;
    background-image: url(../images/icons.png);
    background-position: -1px -1px;
        right:16px;
        top:15px;
    border:solid 1px #b5b6bc;
    box-sizing: border-box;
    border-radius:50%;
    background-color:transparent;
    transition: background-color 0.63s ease, border 0.43s ease-in-out;
}
.lnb .AddDateInfoBtn:hover:after{
    background-position: -1px -17px;
    background-color:#00afef;
    border:solid 1px #00afef;
}
.lnb .dateListWrap{
    position: absolute;
    bottom: 172px;
    width: 100%;
    top: 226px;
    overflow-y: auto; 
}

.lnb .dateItem{

}
.lnb .dateItem a:hover{
    background-color:#f7f7f7;
}
.lnb .dateItem a.active{
    background-color:#00afef;
    color:#fff;
}
.lnb .dateItem a{
    font-weight: bold;
    font-size: 14px;
    color:#6d6d6e;
    height:48px;
    line-height: 48px;
    padding-left:21px;
    transition: all 0.34s ease;
    display: inline-block;
    width:100%;
    float:left;
    text-decoration: none;
    box-sizing: border-box;
}
.lnb .resultBtnBox{
    position: absolute;
        bottom:116px;
    left:16px;
    width:186px;
    height:40px;
}
.lnb .resultBtn{
    float: left;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #fff;
    background-color: #00afef;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    transition: background 0.13s ease-in-out;
}
.lnb .resultBtn:hover{
    background-color:#129dd6;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.lnb .resultBtn:active{
    top:1px;
}

/*SELECT MENU*/
.selectMenuListWrap{
    position: absolute;
    left: 218px;
    top: 60px;
    right: 0px;
    height: 121px;
    border-bottom: solid 1px #b5b6bc;
    padding: 44px 0 0 30px;
    box-sizing: border-box;
    border-left:solid 1px #b5b6bc;
}
.selectMenuListWrap .check1-label{
    margin-left:30px;
}
.selectMenuListWrap .check1-label:first-child{
    margin-left:0px;
}
.selectMenuListWrap .selectMenuList{
    width:100%;
    height:100%;
}
.selectMenuListWrap .selectMenu{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 12px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
.selectMenuListWrap .selectMenu a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}
.selectMenuListWrap .selectMenu .selectMenuIcon{
    position: absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
    background-image: url(../images/icons.png);
    background-position-y:-144px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.selectMenuListWrap .selectMenu.menu1 .selectMenuIcon{
    background-position-x:-0px;
}
.selectMenuListWrap .selectMenu.menu2 .selectMenuIcon{
    background-position-x:-44px;
}
.selectMenuListWrap .selectMenu.menu3 .selectMenuIcon{
    background-position-x:-88px;
}
.selectMenuListWrap .selectMenu.menu4 .selectMenuIcon{
    background-position-x:-132px;
}
.selectMenuListWrap .selectMenu.menu5 .selectMenuIcon{
    background-position-x:-176px;
}
.selectMenuListWrap .selectMenu .selectMenuIcon.hover{
    background-position-y:-109px;
}
.selectMenuListWrap .selectMenu .selectMenuIcon.active{
    background-position-y:-74px;
}
.selectMenuListWrap .selectMenu .selectMenuIcon.primary{
    opacity: 1;
}
.selectMenuListWrap .selectMenu:hover .selectMenuIcon.primary{
    opacity: 0;
}
.selectMenuListWrap .selectMenu:hover .selectMenuIcon.hover{
    opacity: 1;
}
.selectMenuListWrap .selectMenu.active .selectMenuIcon.active{
    opacity: 1;
}
.contentBox{
    position: absolute;
    left: 218px;
    right: 0px;
    top: 181px;
	height: calc(100% - 181px);
    overflow-y: auto;
    overflow: auto;
    border-left:solid 1px #b5b6bc;
}
.contentBoxHeight{
    min-height: calc(100% - 85px);
}
.menuTitle{
    padding: 28px 0 7px 35px;
}
.contentBox .menuTitle.type1{
    padding: 28px 0 13px 35px;
}
.menuTitle .title{
    color: #6d6d6e;
    font-weight: bold;
    font-size: 39px;
}
.contentBox .menuTitle .titleNum{
    color: #6d6d6e;
    font-size: 12px;
    margin-left:6px;
}
.contentBox .menuTitle .titleInfo1{
    font-weight: 300;
    font-size: 12px;
    color:rgba(153,153,153,0.7);
    margin:14px 0 0 0;
}
.section{
    margin-top:30px;
    padding:0 38px 0 38px;
}
.section.result{
    padding-left:18px
}
.section.survey{
    margin-top:34px;
    padding:0 38px 0 37px;
}
.sectionTitle{
    color: #26abe1;
    font-family: 'Noto Sans KR','Noto Sans',sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-bottom: solid 1px #26abe1;
    height: 46px;
    line-height: 46px;
}
.sectionContentBox{
    
}
.sectionContent{
    line-height: 54px;
    border-bottom:solid 1px #ced1d6;
    padding:0 0 0 18px;
}
.sectionContent:after{
	content: " ";
    display: block;
    clear: both;
}
.sectionContent.top{
    margin: 20px 0 0 0;
    border-top:solid 1px #ced1d6;  
}
.rowTitle{
    color: #6d6d6e;
    font-family: 'Noto Sans KR','Noto Sans',sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -1px;
    box-sizing: border-box;
    min-width: 167px;
    display: inline-block;
    padding: 0px 0px 0px 0px;
	margin:0 9px 0 0px;
}
.wrap-box .rowTitle{
	margin:0 15px 0 0px;
}
.unitTxt{
    margin: 0 0px 0 5px;
    color: #6d6d6e;
    font-size: 13px;
    letter-spacing: -1px;
    width:50px;
    display:inline-block;
}
.sectionContent .radio1-label{
   margin:0 24px 0 0; 
}
.surveyTitle{
    color: #26abe1;
    font-weight: 300;
    font-size: 15px;
}
.surveyTitleInfo{
    font-size: 12px;
    color:rgba(109,109,110,0.7);
    font-weight: 300;
    margin-top:8px;
}
.surveyRadioWrap,
.surveyCheckWrap{
    padding: 15px 15px;
    line-height: 57px;
}
.surveyRadioWrap.type1{
    padding: 12px 15px;
}
.surveyRadioWrap label.radio1-label,
.surveyCheckWrap label.check1-label{
    margin-right:24px;
}

.questionWrap{
    padding:0 38px;
}
.questionBox{
    background:#f9f9fa;
    border:solid 1px #cbced3;
    padding:25px 0 26px 15px;
}
.questionBox .questionTitle{
    color: rgba(109,109,110,1);
    font-size: 15px;
    font-weight: 300;
    margin-left:2px;
}
.questionBox .questionInfo{
    color:rgba(109,109,110,0.7);
    font-size: 11px;
    font-weight: 300;
    margin-top:8px;
}
.questionBox .questionInputUnit{
    color:#6d6d6e;
    font-weight: 300;
    font-size: 11px;
    margin-left:6px;
}
.questionBox .questionInputWrap{
    margin:28px 0 0 0 ;
}
.questionBox .questionInputWrap.second{
    padding:0 0 0 18px;
}
.questionBox .questionTitle.second{
    margin:38px 0 0 0;
}
.questionBox .questionInputTitle{
    font-weight: 300;
    color:#6d6d6e;
    font-size:15px;
    margin:0 30px 0 17px;
}
.footer{
    height: 85px;
    padding: 0 38px 0 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
}
.footer .language{
    font-size: 10px;
    position: absolute;
    right:38px;
    top:38px;
}
.footer .language a{
    text-decoration: none;
    color:rgba(0,0,0,0.8);
    transition:all 0.2s linear;
}
.footer .language a:hover{
    text-decoration: none;
    color:rgba(0,0,0,1)
}
.footer .copyRight{
    position: absolute;
    font-size: 12px;
    color:#b5b6bc;
    right:38px;
    top:55px;
}
.footer .korea{
    position: relative;
    margin-right:15px;
}
.footer .korea:after{
    content: "";
    position: absolute;
    width:1px;
    height:10px;
    background-color:#000;
    right:-8px;
    top:50%;
    margin-top:-4px;
}
.information{
    width:360px;
    color:#6d6d6e;
    padding-top:100px;
    text-align: center;
    margin:auto;
}
.informationTxt {
	font-size: 40px;
	font-weight: bold;
}

.genderBox {
    text-align: left;
    margin-top:87px;
    position:relative;
}

.loginWrap .genderBox .focusTxt {
    position: absolute;
    font-size:14px;
    top:-30px;
    color:#b5b6bc;
}
.loginWrap .genderBox.hasValue .focusTxt,
.loginWrap .genderBox.active.hasValue .focusTxt{
    color: #26abe1;
        transition:color 0.85s ease,top 0.34s ease;
}
.historyBackground {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    height:322px;
    background:#00afef;
}

.historyTblWrap {
    width:calc(100% - 74px);
    max-width:1024px;
    height:50px;
    position: relative;
    z-index: 1;
    padding-top:143px;
    margin:auto;
}

.historyTblBox {
    border-top: solid 2px #6d6d6e;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 313px;
}

.resultTxt {
    position: absolute;
    color:#6d6d6e;
    font-size: 119px;
    font-family: 'Open Sans', sans-serif;
    left:339px;
    top:134px;
}

.percent {
    font-size: 29px
}

.resultGraphWrap{
    width:275px;
    height:169px;
    position:relative;
    overflow: hidden;
}
.resultGraphImg{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 7;
}
.resultGraphBack {
    width: 220px;
    height: 110px;
    background-image: url(../images/result_back2.png);
    left: 24px;
    top: 19px;
    position: absolute;
    transform: rotateZ(0deg);
    animation-name: graph;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    z-index: 5;
}
@keyframes graph {
    from {transform: rotateZ(-180deg);}
    to {transform: rotateZ(0deg);}
}
.graphArea{
    position: absolute;
    display: none;
}
.graphArea.area1{
    position: absolute;
    left:0px;
    bottom:0px;
    width:81px;
    height:96px;
    background-image: url(../images/result1.png);
}
.graphArea.area2{
    position: absolute;
    width: 55px;
    height: 59px;
    background-image: url(../images/result2.png);
    top: 0px;
    left: 55px;
}
.graphArea.area3{
    width: 78px;
    height: 69px;
    background-image: url(../images/result3.png);
    top: 0px;
    left: 110px;
}
.graphArea.area4{
    width: 69px;
    height: 78px;
    background-image: url(../images/result4.png);
    top: 32px;
    right: 0px;
}
.niddle {
    width: 10px;
    height: 44px;
    background-image: url(../images/niddle.png);
    position: absolute;
    left: 129px;
    top: 90px;
    z-index: 8;
    animation-name: niddle2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes niddle2 {
	0% {opacity:0;}
	10% {transform:rotateZ(1deg)}
	20% {transform:rotateZ(-2deg)}
	30% {transform:rotateZ(4deg);opacity:0.15;}
	40% {transform:rotateZ(-6deg)}
	50% {transform:rotateZ(12deg)}
	60% {transform:rotateZ(-14deg)}
	100% {opacity:1}
}
.whiteHiddenBox{
    background:#fff;
    position: absolute;
    z-index: 6;
    width:100%;
    height:40px;
    bottom:0px;
}
.point1 .graphArea.area1{
    display: block;
}
.point2 .graphArea.area2{
    display: block;
}
.point3 .graphArea.area3{
    display: block;
}
.point4 .graphArea.area4{
    display: block;
}

.motion {
	display:block;
	-webkit-animation:motion2 0.4s ease-out ;
	animation:motion2 0.4s ease-out ;
	transform-style:preserve-3d;
}
@-webkit-keyframes motion2 {
	0% {opacity:0;-webkit-transform:rotateX(0deg);transform:rotateX(0deg);}
	30% {opacity:1;-webkit-transform:rotateX(-30deg);transform:rotateX(-30deg);}
	60% {-webkit-transform:rotateX(0deg);transform:rotateX(0deg);}
	80% {-webkit-transform:rotateX(-15deg);transform:rotateX(-15deg);}
	100% {-webkit-transform:rotateX(0deg);transform:rotateX(0deg);}
}

/*달력*/
.calendarWrap{
	width:338px;
	padding-top:25px;
	box-sizing:border-box;
}
.calendarWrap .monthViewSelectBtn{
	border:none;
	outline:none;
	width:100%;
	height:100%;
	cursor: pointer;
	float:left;
	background:#fff;
	color:#6d6d6e;
	font-weight:300;
	font-size:17px;
	box-sizing:border-box;
	padding:0 10px 1px 0 ;
	position:relative;
}
.calendarWrap .monthViewSelectBtn:after{
	position: absolute;
    content: "";
    width: 11px;
    height: 7px;
    background: url(../images/icons.png) 0 -374px;
    right:29px;
    top:14px;
}
.calendarWrap .monthSelectList{
    position: absolute;
    height: 288px;
    width: 100%;
    overflow-y: auto;
    border: solid 1px #b5b6bc;
    top: 0px;
    display: none;
    z-index:2;
}
.calendarWrap .monthSelectBtn{
	display: block;
    outline: none;
    background: #fff;
    height: 32px;
    color: #6d6d6e;
    width: 100%;
    border:none;
    cursor: pointer;
}
.calendarWrap .monthSelectBtn:hover{
	background:#f7f7f7;
}
.calendarWrap .monthSelectBtn:active{
	background:#f0f0f2;
}
.calendarWrap .monthSelectBtn.active{
	background:#00afef !important;
	color:#fff;
}
.calendarWrap .calendarHeader{
    height: 32px;
    padding: 0 21px;
}
.calendarWrap .calendarBtn{
	float:left;
    position: relative;
    cursor: pointer;
}
.calendarWrap .navi{
    width: 40px;
    height: 100%;
    text-align: center;
    border: solid 1px #b5b6bc;
    box-sizing: border-box;
    border-radius:1px;
    background-color:#fff;
    transition:border 0.22s ease,background-color 0.22s ease;
    background-image: url(../images/icons.png);
}
.calendarWrap .navi.left{
	background-position: -40px -326px;
}
.calendarWrap .navi.right{
	background-position: -0px -326px;
}
.calendarWrap .navi.left:active{
	background-position: -40px -294px;
}
.calendarWrap .navi.right:active{
	background-position: -0px -294px;
}
.calendarWrap .navi:hover{
    border: solid 1px #b5b6bc;
	background-color:#f7f7f7;
}
.calendarWrap .navi:active{
    border: solid 1px #26abe1;
	background-color:#26abe1;
}
.calendarWrap .monthBox{
	width:215px;
	height:100%;
}
.calendarWrap .weekWrap{
    height: 26px;
    line-height:26px;
    padding:0 32px;
    margin:19px 0 3px 0;
}
.calendarWrap .dayWrap{
    padding: 0 32px;
}
.calendarWrap .weekTxt{
	width:40px;
	box-sizing:border-box;
	float:left;
	display: block;
	margin:0 0 0 -1px;
	color:#6d6d6e;
	text-align: center;
	font-size: 12px;
	font-weight:300;
	opacity:0.7;
}
.calendarWrap .day{
	width:40px;
	height:39px;
	display:block;
	float:left;
	box-sizing:border-box;
	border:solid 1px #b5b6bc;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	background:#fff;
	margin:-1px 0 0 -1px;
	transition: all 0.08s ease-in-out;
	color:#6d6d6e;
	font-weight:300;
	font-size:14px;
}
.calendarWrap .day.hide{
	opacity:0;
}
.calendarWrap .day.thisMonth:hover{
	background:#f7f8f8;
}
.calendarWrap .day.thisMonth:active{
	background:#00afef;
	border:solid 1px #00afef;
	color:#fff;
	position: relative;
	z-index: 2;
}


